[SddmGreeterTheme]
Name=Caelestia SDDM Locklike
Description=A Caelestia-themed lockscreen and SDDM theme for a consistent overall aesthetic.
Author=AkhiLeith
Type=sddm-theme
Version=1.0
MainScript=Main.qml
QtVersion=6
X-SDDM-Theme-InterfaceVersion=2
